body {
	background: black;
	font-family: 'Lato', sans-serif;
}
#wrapper {
	margin-top: 10% !important;
}
#content {
	background:BlanchedAlmond;
	padding: 40px;
}
#content > h2 {
	font-size: 20px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
	font-size: 18px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: BurlyWood;
}
footer {
	margin-top: 20px;
	color: white;
}
.list-group-item {
	color: black;
}